
<!doctype html>
<title>{% block title %}{% endblock %} - Crabit</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('index') }}">Flaskr</a></h1>
  <ul>
    
      <li><span></span>
      <li><a href=""></a>
      <li><a href=""></a>
      <li><a href=""></a>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
    <div class="flash"></div>
  {% block content %}{% endblock %}
</section>